<!DOCTYPE html>  
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8"/>
    <title>Medicines</title>
</head>  
<body>   
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="m : ${medicines}">
                <td th:text="${m.id}"></td>
                <td th:text="${m.name}"></td>
                <td><a th:href="@{/medicine/details/{id}(id=${m.id})}">Detalles</a></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/medicine/details2}" method="post">
        <input type="text" name="name" th:value="${name}"  placeholder="Find by Name" size="50"/>
        <button type="submit">Search</button>
    </form>
    
</body>  
</html>
