<!DOCTYPE html>  
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  
<head>  
    <meta charset="UTF-8"/>
    <title>prescripciones</title>
</head>  
<body>   
    <form th:action="@{/prescripcion/save}" th:object="${prescripcion}" method="post">
        <div>
            <label>id</label>
            <input type="text" name="id" th:value="${id}"  placeholder="id"/>
        </div>
        <div>
            <label>Biosimilar</label>
            <input type="text" name="biosimilar" th:value="${biosimilar}"  placeholder="biosimilar"/>
        </div>
        <div>
            <label>codNacionalesInactivos</label>
            <input type="text" name="codNacionalesInactivos" th:value="${codNacionalesInactivos}"  placeholder="codNacionalesInactivos"/>
        </div>
        <div>
            <label>codSitregPresenId</label>
            <input type="text" name="codSitregPresenId" th:value="${codSitregPresenId}"  placeholder="codSitregPresenId"/>
        </div>
        <div>
            <label>contenido</label>
            <input type="text" name="contenido" th:value="${contenido}"  placeholder="contenido"/>
        </div>
        <div>
            <label>desDosific</label>
            <input type="text" name="desDosific" th:value="${desDosific}"  placeholder="desDosific"/>
        </div>
        <div>
            <label>desNomco</label>
            <input type="text" name="desNomco" th:value="${desNomco}"  placeholder="Find by desNomco"/>
        </div>
        <div>
            <label>desPrese</label>
            <input type="text" name="desPrese" th:value="${desPrese}"  placeholder="desPrese"/>
        </div>
        <div>
            <label>fecComer</label>
            <input type="text" name="fecComer" th:value="${fecComer}"  placeholder="fecComer"/>
        </div>
        <div>
            <label>fecSitregPresen</label>
            <input type="text" name="fecSitregPresen" th:value="${fecSitregPresen}"  placeholder="fecSitregPresen"/>
        </div>
        <div>
            <label>fechaAutorizacion</label>
            <input type="text" name="fechaAutorizacion" th:value="${fechaAutorizacion}"  placeholder="fechaAutorizacion"/>
        </div>
        <div>
            <label>fechaSituacionRegistro</label>
            <input type="text" name="fechaSituacionRegistro" th:value="${fechaSituacionRegistro}"  placeholder="fechaSituacionRegistro"/>
        </div>
        <div></div>
        <label>importacionParalela</label>
        <input type="text" name="importacionParalela" th:value="${importacionParalela}"  placeholder="importacionParalela"/>
        <div></div>
        <label>listaEstupefaciente</label>
        <input type="text" name="listaEstupefaciente" th:value="${listaEstupefaciente}"  placeholder="listaEstupefaciente"/>
        <div></div>
        <label>listaPsicotropo</label>
        <input type="text" name="listaPsicotropo" th:value="${listaPsicotropo}"  placeholder="listaPsicotropo"/>
        <div></div>
        <label>nroConte</label>
        <input type="text" name="nroConte" th:value="${nroConte}"  placeholder="nroConte"/>
        <div></div>
        <label>nroDefinitivo</label>
        <input type="text" name="nroDefinitivo" th:value="${nroDefinitivo}"  placeholder="nroDefinitivo"/>
        <div></div>
        <label>swAfectaConduccion</label>
        <input type="text" name="swAfectaConduccion" th:value="${swAfectaConduccion}"  placeholder="swAfectaConduccion"/>
        <div></div>
        <label>swBaseAPlantas</label>
        <input type="text" name="swBaseAPlantas" th:value="${swBaseAPlantas}"  placeholder="swBaseAPlantas"/>
        <div></div>
        <label>swComercializado</label>
        <input type="text" name="swComercializado" th:value="${swComercializado}"  placeholder="swComercializado"/>
        <div></div>
        <label>swDiagnosticoHospitalario</label>
        <input type="text" name="swDiagnosticoHospitalario" th:value="${swDiagnosticoHospitalario}"  placeholder="swDiagnosticoHospitalario"/>
        <div></div>
        <label>swEnvaseClinico</label>
        <input type="text" name="swEnvaseClinico" th:value="${swEnvaseClinico}"  placeholder="swEnvaseClinico"/>
        <div></div>
        <label>swEspecialControlMedico</label>
        <input type="text" name="swEspecialControlMedico" th:value="${swEspecialControlMedico}"  placeholder="swEspecialControlMedico"/>
        <div></div>
        <label>swEstupefaciente</label>
        <input type="text" name="swEstupefaciente" th:value="${swEstupefaciente}"  placeholder="swEstupefaciente"/>
        <div></div>
        <label>swGenerico</label>
        <input type="text" name="swGenerico" th:value="${swGenerico}"  placeholder="swGenerico"/>
        <div></div>
        <label>swHuerfano</label>
        <input type="text" name="swHuerfano" th:value="${swHuerfano}"  placeholder="swHuerfano"/>
        <div></div>
        <label>swPsicotropo</label>
        <input type="text" name="swPsicotropo" th:value="${swPsicotropo}"  placeholder="swPsicotropo"/>
        <div></div>
        <label>swReceta</label>
        <input type="text" name="swReceta" th:value="${swReceta}"  placeholder="swReceta"/>
        <div></div>
        <label>swSustituible</label>
        <input type="text" name="swSustituible" th:value="${swSustituible}"  placeholder="swSustituible"/>
        <div></div>
        <label>swTieneExcipientesDeclObligatoria</label>
        <input type="text" name="swTieneExcipientesDeclObligatoria" th:value="${swTieneExcipientesDeclObligatoria}"  placeholder="swTieneExcipientesDeclObligatoria"/>
        <div></div>
        <label>swTld</label>
        <input type="text" name="swTld" th:value="${swTld}"  placeholder="swTld"/>
        <div></div>
        <label>swTrianguloNegro</label>
        <input type="text" name="swTrianguloNegro" th:value="${swTrianguloNegro}"  placeholder="swTrianguloNegro"/>
        <div></div>
        <label>swUsoHospitalario</label>
        <input type="text" name="swUsoHospitalario" th:value="${swUsoHospitalario}"  placeholder="swUsoHospitalario"/>
        <div></div>
        <label>urlFicTec</label>
        <input type="text" name="urlFicTec" th:value="${urlFicTec}"  placeholder="urlFicTec"/>
        <div></div>
        <label>urlProsp</label>
        <input type="text" name="urlProsp" th:value="${urlProsp}"  placeholder="urlProsp"/>
        <div></div>
        <label>codDcpId</label>
        <input type="text" name="codDcpId" th:value="${codDcpId}"  placeholder="codDcpId"/>
        <div></div>
        <label>codDcsaId</label>
        <input type="text" name="codDcsaId" th:value="${codDcsaId}"  placeholder="codDcsaId"/>
        <div></div>
        <label>codEnvaseId</label>
        <input type="text" name="codEnvaseId" th:value="${codEnvaseId}"  placeholder="codEnvaseId"/>
        <div></div>
        <label>codSitregId</label>
        <input type="text" name="codSitregId" th:value="${codSitregId}"  placeholder="codSitregId"/>
        <div></div>
        <label>codigoDcpfId</label>
        <input type="text" name="codigoDcpfId" th:value="${codigoDcpfId}"  placeholder="codigoDcpfId"/>
        <div></div>
        <label>laboratorioComercializadorId</label>
        <input type="text" name="laboratorioComercializadorId" th:value="${laboratorioComercializadorId}"  placeholder="laboratorioComercializadorId"/>
        <div></div>
        <label>laboratorioTitularId</label>
        <input type="text" name="laboratorioTitularId" th:value="${laboratorioTitularId}"  placeholder="laboratorioTitularId"/>
        <div></div>
        <label>unidContenidoId</label>
        <input type="text" name="unidContenidoId" th:value="${unidContenidoId}"  placeholder="unidContenidoId"/>
        
        <button type="submit">Submit</button>
    </form>
</body>  
</html>
